.header{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		max-width: 1052px;
		align-items: center;
		padding: 92px 24px 0;
		font-size: 18px;
}


.header__links-list{
	display: flex;
	align-items: center;
}

.header__logo{
	
}
.header__logo-image{
	max-height: 105px;
}